<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="vendors/jquery-3.2.1.min.js"> charset="utf-8"</script>
    <script src="vendors/angular.min.js"> charset="utf-8"</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-materialize/0.2.2/angular-materialize.min.js"></script>
    <script src="scripts/script.js" charset="utf-8"></script>
    <script src="vendors/date.format.js" charset="utf-8"></script>
    <title></title>
  </head>

  <body>
    <button class="btn waves-effect waves-light" name="button" id="loc">locate</button>
    <button class="btn waves-effect waves-light" name="button" id="run">run based off your location</button>
    <input type="text" id="address" placeholder="Enter address to find facebook events">
    <button class="btn waves-effect waves-light" name="button" id="run2">run address to long lat then events</button>
    <div class="container" id="output">

    </div>
    </main>
  </body>
</html>
